{% extends "layout.njk" %}

{% block content %}

{% block head %}
<link rel="stylesheet" type="text/css" href="about.css">
<title>About</title>
{% endblock %}

<div id="content">
    <img src="https://seeklogo.com/images/V/visual-studio-logo-14F95CF819-seeklogo.com.png" alt="Logo" class="logo">
    <h1>Programming Enterprise</h1>
    <p>We are here to use code to make inteligent solutions to your problems</p>
    <p>Technologies we use:</p>
    <ul>
        <li>Javascript</li>
        <li>React & React Native</li>
        <li>HTML & CSS</li>
    </ul>
    <footer>
        <p>Follow us on</p>
        <a class="socialmedia" href="https://github.com/gustavopirro">Github</a>
        <a class="socialmedia" href="https://www.facebook.com/gustavo.pirro">Facebook</a>
        <a class="socialmedia" href="https://www.linkedin.com/in/gustavo-gon%C3%A7alves-5488031a6/">LinkedIn</a>
    </footer>
</div>

{% endblock %}