{% extends "layout.html" %}
    {% block content %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home</title>
    {% endblock %}
    <div id="content">
        <img src="https://seeklogo.com/images/V/visual-studio-logo-14F95CF819-seeklogo.com.png" alt="Logo" class="logo">
        <a href="content.html">Click Here to see our free Javascript Classes</a>
    </div>

    {% endblock %}