<!DOCTYPE html>
<html lang="en">

<head>

    {% block head %}
    <title>Portfolio</title>
    <link rel="shortcut icon" href="//cdn.sstatic.net/br/img/favicon.ico?v=dc8ddf0e4768">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="https://discordapp.com/">Community</a>
        <a href="mailto:hello@test.com.br">Email</a>
        <a href="tel:+55432123213">Telephone</a>
        <a href="/about">About</a>
        <a href="/content">Content</a>
    </header>

    {% block content %}

    {% endblock %}


    </body>
</html>